.venv/
venv/
env/
ENV/


__pycache__/
*.pyc
*.pyo
*.pyd


.vscode/


.DS_Store
Thumbs.db


*.pt


*.mp4
*.avi
*.mov
*.mkv


detections_log.json
tracking_log.json
detection.json
output*.mp4


runs/


.env
